# Problema

## Querying Vancouver crimes

Using the given sqlite3 connection:
- Select `TYPE`, `MONTH`, `DAY` and `NEIGHBOURHOOD` from the `van_crimes` table, but only the crime observations from `Stanley Park` or `West End`. Store the information in a `van_crimes_df` DataFrame.
- Store the count of crimes per `TYPE` in a `crime_types_count` variable.

# Solução

In [1]:
import numpy as np
import pandas as pd
import sqlite3

import os

In [2]:
# create a new connection to a db in memory
if os.path.exists('files/van_crime.db'):
    os.remove('files/van_crime.db')

conn = sqlite3.connect('files/van_crime.db')

# create a cursor
c = conn.cursor()

# restore the given van_crime_2003.sql dump
c.executescript(open('files/van_crime_2003.sql', 'r').read())

Select `TYPE`, `MONTH`, `DAY` and `NEIGHBOURHOOD` from the `van_crimes` table, but only the crime observations from `Stanley Park` or `West End`. Store the information in a `van_crimes_df` DataFrame.

In [3]:
van_crimes_df = pd.read_sql_query("SELECT TYPE, MONTH, DAY, NEIGHBOURHOOD FROM van_crimes WHERE NEIGHBOURHOOD = 'Stanley Park' OR NEIGHBOURHOOD = 'West End'", conn)

In [4]:
van_crimes_df.head()

                 TYPE  MONTH   DAY NEIGHBOURHOOD
0  Theft from Vehicle     12  30.0  Stanley Park
1  Theft from Vehicle     12  28.0  Stanley Park
2  Theft from Vehicle     12  12.0  Stanley Park
3  Theft from Vehicle     12  12.0  Stanley Park
4  Theft from Vehicle     11   5.0  Stanley Park

In [5]:
van_crimes_df.shape

(64, 4)

Store the count of crimes per `TYPE` in a `crime_types_count` variable.

In [6]:
crime_types_count = van_crimes_df['TYPE'].value_counts()
crime_types_count

TYPE
Theft from Vehicle                   31
Break and Enter Residential/Other    15
Theft of Vehicle                     11
Mischief                              7
Name: count, dtype: int64

In [7]:
crime_types_count.shape

(4,)

# Testes

In [8]:
def test_crime_types_1():
    return crime_types_count.shape == (4,)

def test_crime_types_2():
    return crime_types_count.sum() == 64

def test_crime_types_3():
    return crime_types_count[1] == 15

def test_crimes_1():
    return van_crimes_df.shape == (64, 4)

def test_crimes_2():
    return van_crimes_df.loc[3, 'DAY'] == 12.0

In [9]:
test_crime_types_1()

True

In [10]:
test_crime_types_2()

True

In [11]:
test_crime_types_3()

True

In [12]:
test_crimes_1()

True

In [13]:
test_crimes_2()

True