# Problema

## Crypto currency database

The database we will use contains two tables `cryptocoins_cryptocurrency` and `cryptocoins_exchange`.

Using the given sqlite3 connection and the `read_sql` method write a single query that:
  - Join both tables and return the list of cryptocurrencies with its exchanges. You should use the column with the exchange ID on each table to perform the join.
  - As both tables have a `name` column you should rename `cryptocoins_cryptocurrency.name` as `coin_name` and `cryptocoins_exchange.name` as `exchange`. Also select `symbol`, `price_usd` and `percent_change_7d` columns.
  - Store the information in a `crypto_df` DataFrame.

- Once you have the `crypto_df` DataFrame, create a new `weekly_change_df` with the `crypto_df` data sorted by `percent_change_7d` from highest to lowest.

# Solução

In [1]:
import numpy as np
import pandas as pd
import sqlite3

import os

In [2]:
# create a new connection to a db in memory
if os.path.exists('files/cryptos.db'):
    os.remove('files/cryptos.db')

conn = sqlite3.connect('files/cryptos.db')

# create a cursor
c = conn.cursor()

# restore the given crpyots.sql dump
c.executescript(open('files/cryptos.sql', 'r').read())

Join both tables and return the list of cryptocurrencies with its exchanges. You should use the column with the exchange ID on each table to perform the join.

As both tables have a `name` column you should rename `cryptocoins_cryptocurrency.name` as `coin_name` and `cryptocoins_exchange.name` as `exchange`. Also select `symbol`, `price_usd` and `percent_change_7d` columns.

In [3]:
crypto_df = pd.read_sql_query('''SELECT cryptocoins_cryptocurrency.name as coin_name, cryptocoins_exchange.name as exchange, symbol, price_usd, percent_change_7d 
                              FROM cryptocoins_cryptocurrency 
                              INNER JOIN cryptocoins_exchange 
                              ON cryptocoins_cryptocurrency.exchange_id = cryptocoins_exchange.id''',
                              conn)

In [4]:
crypto_df.head()

      coin_name  exchange symbol  price_usd  percent_change_7d
0       Bitcoin  Bitstamp    BTC    8707.37              -5.91
1      Ethereum  Bitstamp    ETH     186.50              -0.66
2           XRP  Bitstamp    XRP       0.27              -8.22
3  Bitcoin Cash   Binance    BCH     278.92              -4.76
4        Tether  Bitstamp   USDT       1.01               0.45

In [5]:
crypto_df.shape

(100, 5)

Once you have the `crypto_df` DataFrame, create a new `weekly_change_df` with the `crypto_df` data sorted by `percent_change_7d` from highest to lowest.

In [6]:
weekly_change_df = crypto_df.sort_values('percent_change_7d', ascending=False)
weekly_change_df

        coin_name  exchange symbol  price_usd  percent_change_7d
65  DxChain Token      OKEx     DX       0.00              89.14
39         MINDOL  Bitstamp    MIN       1.36              72.90
74          Seele  Bitstamp  SEELE       0.11              39.59
61         Komodo  Poloniex    KMD       0.86              22.75
26        VeChain      OKEx    VET       0.01              21.49
..            ...       ...    ...        ...                ...
35  Insight Chain  Bitstamp    INB       0.64             -13.37
57          Bytom      OKEx    BTM       0.11             -13.42
64      Silverway  Poloniex    SLV       0.95             -13.84
63        EDUCare      OKEx    EKT       0.10             -14.31
59           LUNA  Poloniex   LUNA       0.37             -17.84

[100 rows x 5 columns]

# Testes

In [7]:
def test_cryptos_1():
    return crypto_df.shape == (100, 5)

def test_cryptos_2():
    return crypto_df.loc[12, 'symbol'] == 'LINK'

def test_weekly_change_1():
    return weekly_change_df.iloc[0]['coin_name'] == 'DxChain Token'

def test_weekly_change_2():
    return weekly_change_df.iloc[4]['price_usd'] == 0.01

In [8]:
test_cryptos_1()

True

In [9]:
test_cryptos_2()

True

In [10]:
test_weekly_change_1()

True

In [11]:
test_weekly_change_2()

True