# Solução

In [58]:
import numpy as np
import pandas as pd

In [59]:
df = pd.read_csv('files/movies.csv', 
                header=None,
                sep='|',
                names=['color', 'director_name', 'num_critic_for_reviews', 'duration',
                'gross', 'movie_title', 'num_user_for_reviews',	'country',
                'cotent_rating', 'budget', 'title_year', 'imdb_score', 'genre'])

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   100 non-null    object
 1   director_name           100 non-null    object
 2   num_critic_for_reviews  100 non-null    object
 3   duration                100 non-null    object
 4   gross                   100 non-null    object
 5   movie_title             100 non-null    object
 6   num_user_for_reviews    100 non-null    object
 7   country                 100 non-null    object
 8   cotent_rating           100 non-null    object
 9   budget                  100 non-null    object
 10  title_year              100 non-null    object
 11  imdb_score              100 non-null    float64
 12  genre                   100 non-null    object
dtypes: float64(1), object(12)
memory usage: 10.3+ KB

In [61]:
df.head()

,color,director_name,num_critic_for_reviews,duration,gross,movie_title,num_user_for_reviews,country,cotent_rating,budget,title_year,imdb_score,genre
0,Color,James Cameron,723.0,178.0,760505847.0,Avatar,3054.0,USA,PG-13,"237,000,000.0",2009.0,7.9,Action
1,Color,Gore Verbinski,302.0,169.0,309404152.0,Pirates of the Caribbean: At World's End,1238.0,USA,PG-13,"300,000,000.0",2007.0,7.1,Action
2,Color,Sam Mendes,602.0,148.0,200074175.0,Spectre,994.0,UK,PG-13,"245,000,000.0",2015.0,6.8,Action
3,Color,Christopher Nolan,813.0,164.0,448130642.0,The Dark Knight Rises,2701.0,USA,PG-13,"250,000,000.0",2012.0,8.5,Action
4,?,Doug Walker,?,?,?,Star Wars: Episode VII - The Force Awakens ...,?,?,?,?,?,7.1,Documentary

Note que temos valores '?'. Vamos considerar esses valores como sendo NaN ao carregar os dados

In [62]:
df = pd.read_csv('files/movies.csv', 
                header=None,
                sep='|',
                names=['color', 'director_name', 'num_critic_for_reviews', 'duration',
                'gross', 'movie_title', 'num_user_for_reviews',	'country',
                'cotent_rating', 'budget', 'title_year', 'imdb_score', 'genre'],
                na_values='?')

df.head()

,color,director_name,num_critic_for_reviews,duration,gross,movie_title,num_user_for_reviews,country,cotent_rating,budget,title_year,imdb_score,genre
0,Color,James Cameron,723.0,178.0,760505847.0,Avatar,3054.0,USA,PG-13,"237,000,000.0",2009.0,7.9,Action
1,Color,Gore Verbinski,302.0,169.0,309404152.0,Pirates of the Caribbean: At World's End,1238.0,USA,PG-13,"300,000,000.0",2007.0,7.1,Action
2,Color,Sam Mendes,602.0,148.0,200074175.0,Spectre,994.0,UK,PG-13,"245,000,000.0",2015.0,6.8,Action
3,Color,Christopher Nolan,813.0,164.0,448130642.0,The Dark Knight Rises,2701.0,USA,PG-13,"250,000,000.0",2012.0,8.5,Action
4,NaN,Doug Walker,NaN,NaN,NaN,Star Wars: Episode VII - The Force Awakens ...,NaN,NaN,NaN,NaN,NaN,7.1,Documentary

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   99 non-null     object
 1   director_name           100 non-null    object
 2   num_critic_for_reviews  99 non-null     float64
 3   duration                99 non-null     float64
 4   gross                   97 non-null     float64
 5   movie_title             100 non-null    object
 6   num_user_for_reviews    99 non-null     float64
 7   country                 99 non-null     object
 8   cotent_rating           98 non-null     object
 9   budget                  96 non-null     object
 10  title_year              99 non-null     float64
 11  imdb_score              100 non-null    float64
 12  genre                   100 non-null    object
dtypes: float64(6), object(7)
memory usage: 10.3+ KB

A coluna budget não está sendo interpretada como int, isso é devido a ',' que veio com o dataset

Além disso, podemos considerar a coluna 'movie_title' como sendo o index do dataframe

In [64]:
df = pd.read_csv('files/movies.csv', 
                header=None,
                sep='|',
                names=['color', 'director_name', 'num_critic_for_reviews', 'duration',
                'gross', 'movie_title', 'num_user_for_reviews',	'country',
                'cotent_rating', 'budget', 'title_year', 'imdb_score', 'genre'],
                na_values='?',
                thousands=',',
                index_col='movie_title')

df.head()

,color,director_name,num_critic_for_reviews,duration,gross,num_user_for_reviews,country,cotent_rating,budget,title_year,imdb_score,genre
movie_title,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,760505847.0,3054.0,USA,PG-13,237000000.0,2009.0,7.9,Action
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,309404152.0,1238.0,USA,PG-13,300000000.0,2007.0,7.1,Action
Spectre,Color,Sam Mendes,602.0,148.0,200074175.0,994.0,UK,PG-13,245000000.0,2015.0,6.8,Action
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,448130642.0,2701.0,USA,PG-13,250000000.0,2012.0,8.5,Action
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1,Documentary

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, Avatar  to The Hobbit: An Unexpected Journey
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   99 non-null     object
 1   director_name           100 non-null    object
 2   num_critic_for_reviews  99 non-null     float64
 3   duration                99 non-null     float64
 4   gross                   97 non-null     float64
 5   num_user_for_reviews    99 non-null     float64
 6   country                 99 non-null     object
 7   cotent_rating           98 non-null     object
 8   budget                  96 non-null     float64
 9   title_year              99 non-null     float64
 10  imdb_score              100 non-null    float64
 11  genre                   100 non-null    object
dtypes: float64(7), object(5)
memory usage: 10.2+ KB

# Testes

In [66]:
def test_score():
    return df.loc[:, 'imdb_score'].max() == 9

def test_shape():
    return df.shape == (100, 12)

In [67]:
test_score()

True

In [68]:
test_shape()

True